# Virtual Environment
# Ignores the entire 'venv' folder
venv/

# Python cache files
# Ignores any folder named __pycache__ and any file ending in .pyc
__pycache__/
*.pyc

# VS Code specific settings folder
.vscode/

# Temporary folder for resume uploads
temp_uploads/