<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InteleX AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="nav-left">
            <img src="{{ url_for('static', filename='img/InteleX_logo.png') }}" class="nav-logo" alt="InteleX_AI Logo">
            <span class="nav-title">InteleX_AI</span>
        </div>

        <div class="navbar-links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/dashboard">Dashboard</a>
        </div>
    </nav>

    {% block content %}{% endblock %}

</body>
</html>
