{% extends "base.html" %}
{% block content %}

<div class="hero-section">

    <img src="{{ url_for('static', filename='img/InteleX_logo.png') }}" class="hero-logo spin-glow" alt="InteleX AI Logo">


    <h1 class="hero-title">InteleX AI</h1>

    <p class="hero-subtitle">
        A next-generation AI Interview Assessment System that helps you practice and improve
        your communication, confidence, and clarity through real-time analysis and
        interactive interview simulations.
    </p>

    <a href="/register" class="hero-btn">Begin Interview Practice</a>

</div>

{% endblock %}
